.wrapper
    @extends .center-wrapper

.spacy-link
    display: inline-block
    position: relative
    text-decoration: none
    color: inherit
    z-index: 1

    &::after 
        content: ''
        position: absolute
        left: 0
        bottom: .07em
        height: .15em
        width: 100%
        // background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959)
        background: linear-gradient(110deg, primary, secondary, tertiary)
        z-index: -1
        transition: height .25s cubic-bezier(.6,0,.4,1)

    &:hover::after 
        height: .2em

.spacy-links
    a 
        @extends .spacy-link


.page-header
    margin: var(--two-units) 0 var(--unit) 0

.page-heading
    margin-top: var(--six-units)
    text-align: center

.page-subtitle
    margin-top: var(--semi-unit)
    font-size: var(--l)
    font-weight: 600

.page-footer
    border-top: 1px solid dark
    margin-top: var(--two-units)
    padding: var(--semi-unit) 0
    font-size: var(--s)

.s1 + .s1
    margin-top: var(--two-units)

.s1-header + .s1-main
    margin-top: var(--semi-unit)

.s2-header + .s2-main
    margin-top: var(--quarter-unit)

.h1
    font-size: var(--xl)
    font-family: heading-font

.h2
    font-size: var(--l)
    font-family: heading-font

.h3
    font-family: heading-font


