.page-header
    margin: var(--two-units) 0 var(--unit) 0

.page-footer
    border-top: 1px solid dark
    margin-top: var(--two-units)
    padding: var(--semi-unit) 0
    font-size: var(--s)

.s1 + .s1
    margin-top: var(--unit)

.h1
    font-size: var(--xl)
    font-family: heading-font

.h2
    font-size: var(--l)
    font-family: heading-font

.h3
    font-family: heading-font


