.site-heading
    text-align: center
    margin-top: var(--five-units)
    & + .page-main
        margin-top: var(--four-units)

.site-title
    font-size: var(--xl)
    font-weight: bold
    color: primary
    display: inline-block
    line-height: 1
    border-bottom: 4px solid currentColor
    @media l
        font-size: var(--xxxl)

.site-subtitle
    margin-top: var(--quarter-unit)
    // font-style: italic
    text-transform: uppercase
    font-weight: 600
    @media l
        font-size: var(--l)

.usecase1
    text-align: center
    margin-top: var(--three-units)
    font-size: var(--xl)
    text-transform: uppercase