extends /base
include /sections

block content
   .wrapper
      .site-heading
         h1.site-title Data Enriched Publishing
         p.site-subtitle Enrich Websites with Wikidata
         
      .page-main.spacy-links
         
         +section('Use Cases')
         
         +section('Implementation')
            ul.default-list
               li 
                  a(href='https://wikidata-elements.js.org/') wikidata-elements 
                  span  (Web components for embedding Wikidata into a website)
               li: a(href='https://en.wikipedia.org/wiki/Template:Wikidata') Wikidata in Wikipedia 

         +section('Team')
            ul.default-list
               li: a(href='https://notimportant.org') Li Song
               li: a(href='https://dominiclooser.ch') Dominic Looser
