- title = local.title ? local.title : global.settings.title
- description = local.description ? local.description : global.settings.description
 
doctype html
html(lang=global.settings.lang)
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title= title   
      meta(name='description', content=description)
      meta(name='viewport', content='width=device-width, initial-scale=1')

      link(rel='stylesheet', href='/styles/styles.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=' + global.settings.google_fonts)
      include /styles

   body
      block content
      include /netlifycmsScripts
      block scripts
         